@import "../../shared/styles/main-style.scss";

.loading_spinner{
  width: 70%;
  margin: 0 auto;
  padding: 10%;
  background-color: rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}


.mat-column-name{
  width: 80%;
}