<div mat-dialog-content>
    <h1>Formulário de Fazenda</h1>
    <form [formGroup]="farmForm">
        <mat-form-field appearance="outline">
          <mat-label>Nome da Fazenda</mat-label>
          <input formControlName="name" matInput placeholder="Fazenda">
        </mat-form-field>
      </form>
</div>
<div mat-dialog-action>
    <button mat-flat-button color="warn" mat-dialog-close>Fechar</button>
    <button mat-stroked-button  color="primary" (click)="saveFarm()">{{actionBtn}}</button>
</div>
